/* FOR MOBILE */

body {
 background-color: white;
}

div {
 background-color: #1e2d75;
 color: white;
 height: auto;
 width: 100%;
 border-radius: 4px;
 padding: 20px 20px;
 font-family: Arial;
 margin: auto;
}

input[type=submit] {
  width: 95%;
  background-color: #09b55f; /* light green */
  color: white;
  padding: 20px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #268053; /* dark green*/
}

label {
  font-family: Arial;
  font-size: 8vw;
  text-align: center;
}


/* FOR DESKTOPS */
@media only screen and (min-width: 600px) {
body {
 background-color: white;
}

div {
 background-color: #1e2d75;
 color: white;
 height: auto;
 width: 25%;
 border-radius: 4px;
 padding: 20px 20px;
 font-family: Arial;
 margin: auto;
}

input[type=submit] {
  width: 95%;
  background-color: #09b55f; /* light green */
  color: white;
  padding: 20px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #268053; /* dark green*/
}

label {
  text-align: center;
  font-family: Arial;
  font-size: 2vw;
}
}
